# Server
# PORT=4000
# NODE_ENV=development


# PostgreSQL connection
DATABASE_URL=postgresql://sprint_baord_user:0ddtUV7T9MacFYFS6uB05KeMhdtvKGEY@dpg-d9gud8e1a83c73bu0ch0-a.oregon-postgres.render.com/sprint_baord
NODE_ENV=production
CLIENT_ORIGIN=http://localhost:4200

# Alternatively, a single connection string can be used instead of the PG* vars above.
# DATABASE_URL=postgresql://postgres:postgres@localhost:5432/agile_sprint_board
